*.o
memcached-1.4.15/sizes
memcached-1.4.15/stamp-h1
memcached-1.4.15/testapp
memcached-1.4.15/timedrun
memcached-1.4.15/memcached-debug
memcached-1.4.15/memcached_debug*
memcached-1.4.15/memcached

memcached-1.4.15/config.h
memcached-1.4.15/config.h.in~
memcached-1.4.15/config.log
memcached-1.4.15/config.status
memcached-1.4.15/configure~

memcached-1.4.15/.cache/
memcached-1.4.15/.deps/
memcached-1.4.15/Makefile
memcached-1.4.15/autom4te.cache/
memcached-1.4.15/compile_commands.json

__pycache__
